@font-face {
    font-family: "Caviar Dreams";
    src: url(../../assets/fonts/CaviarDreams.ttf);
    
  }

*{
    font-family: "Caviar Dreams"
}


#sm-modal-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.5;
    
}

#sm-modal{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#sm-modal-content hr{
    margin: 0;
    padding: 0;
}

#sm-modal-content h1{
    padding: 0px;
    margin: 0px;
}

#sm-modal-content{
    width: 80%;
    height: 80%;
    display: flex;
    background-color: #fcfcfc;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 30px #333;
    justify-content: space-between;
}

#sm-modal-content h1{
    font-family: 'Caviar Dreams';
    font-size: 16px;
    font-weight: bold;
}

#sm-modal-content .padding{
    padding: 15px;
}

#sm-modal-content #sm-modal-footer{
    display: flex;
    flex-direction: column;
    
}

#sm-modal-content #sm-modal-footer .button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

#sm-modal-content #sm-modal-container{
    flex-grow: 1;
    margin-top: 10px;
}


